.header__lang-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.17;
  margin: 0;
  padding: 0;
}

.header__lang-link:last-of-type {
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 1.12rem;
    line-height: 1.1;
  }
}