.place__title {
  color: white;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  padding: 0;
  grid-area: title;
}

@media screen and (min-width: 665px) and (max-width: 999px) {
  .place__title {
    font-size: 2.6rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 665px) {
  .place__title {
    font-size: 2rem;
    line-height: 1.09;
    margin: 0 5vw;
  }
}