.main__cover {
  max-width: 1184px;
  margin-top: 92px;
}

@media screen and (max-width: 1100px) {
  .main__cover {
    width: 100%;
  }
}


@media screen and (max-width: 665px) {
  .main__cover {
    margin-top: 66px;
  }
}