.main__cover {
  margin-top: 92px;
  width: 1184px;
  height: 740px;
  position: relative;
  background-image: url("../../../images/__background.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__cover {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__cover {
    margin-top: 90px;
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .main__cover {
    margin-top: 66px;
    max-width: 320px;
    max-height: 200px;
  }
}