.cover__subtitle {
  color: white;
  font-size: 1.12rem;
  line-height: 1.22;
  max-width: 360px;
  text-align: center;
  z-index: 2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px)  {
  .cover__subtitle {
    font-size: .8rem;
    line-height: 1.1;
  }
}