.photo-greed__item {
  width: 284px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-greed__item {
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-greed__item {
    width: 352px;
  }
}