.main__places {
  margin-top: 92px;
  width: 100%;
}

@media screen and (min-width: 999px) and (max-width: 1100px) {
  .main__places {
    margin-top: 88px;
    width: 90.63vw;
  }
}

@media screen and (min-width: 665px) and (max-width: 999px){
  .main__places {
    width: 94vw;
  }
}

@media screen and (max-width: 665px) {
  .main__places {
    margin-top: 64px;
    width: 100%;
  }
}