.footer__link {
  text-decoration: none;
  color: white;
  line-height: 1.12;
  margin-right: 18px;
  transition: opacity .3s;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 32px 0;
  }
}