.lead__title {
  color: white;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
  margin: 0 0 32px;
  padding: 0;
}

@media screen and (max-width: 665px) {
  .lead__title {
    font-size: 2.5rem;
    margin: 0 0 16px;
  }
}