.place__paragraph {
  color: white;
  font-size: 1.12rem;
  line-height: 1.63;
  margin: 0 0 26px 0;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 999px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.6;
  }
}