.lead__subtitle {
  color: white;
  font-size: 1.9rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
  padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 1.25;
    margin: 0 0 40px;
  }
}