.main__photo-grid {
  margin-top: 92px;
  width: 92.5vw;
}

@media screen and (min-width: 999px) and (max-width: 1100px) {
  .main__photo-grid {
    width: 90.63vw;
  }
}

@media screen and (min-width: 665px) and (max-width: 999px) {
  .main__photo-grid {
    width: 94vw;
    margin-top: 88px;
  }
}

@media screen and (max-width: 665px) {
  .main__photo-grid {
    width: 90vw;
    margin-top: 64px;
  }
}