.cover__title {
  color: white;
  font-size: 4.5rem;
  line-height: 1.06;
  font-weight: bold;
  max-width: 560px;
  text-align: center;
  z-index: 2;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 665px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.09;
    margin: 0 0 16px 0;
  }
}