.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 665px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}