.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 16px;
  }
}