.intro__title {
  color: white;
  font-size: 3.37rem;
  line-height: 1.07;
  font-weight: bold;
  margin: 0 0 40px 0;
  max-width: 690px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
  }
}